.calculator {
  border: 1px solid black;
  width: 17%;
  /* height: 70%; */
  align-items: center;
  margin-left: 25%;
  align-self: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}
.buttonsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

